body {
    background-image: radial-gradient(ellipse at 50% 20%, #DDDDDD 0%,#777777 100%);
    color:white;
    font-family:Verdana;
    
}
a, a:hover, a:active, a:visited {
    color:white;
    text-decoration:none;
}
html {
    height:100%;
}

.board, .button, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.board {
    padding:15px;
    border-radius:15px;
    border:solid 1px;
    background-color:#303030;
    background-image: radial-gradient(ellipse at 50% 20%, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    border-color:#404040;
    box-shadow:inset 0px 0px 15px #404040,0px 0px 15px #404040;
    transform:rotateY(0deg);
}


.board>.row {
    display:flex;
}

.container {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:inline-block;
    margin:auto auto;
}

.sidebar {
    position:fixed;
    background-image: radial-gradient(ellipse at 50% 20%, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.5) 100%);
    width:100px;
    height:25px;
    text-align:center;
    line-height:25px;
}

#about {
    position:absolute;
    /*top:0px;
    left:0px;
    bottom:0px;
    right:0px;*/
    width:100%;
    height:100%;
    /*padding:15px;*/
    border-radius:15px;
    border:solid 1px;
    background-color:#303030;
    background-image: radial-gradient(ellipse at 50% 20%, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    border-color:#404040;
    box-shadow:inset 0px 0px 15px #404040,0px 0px 15px #404040;
    transform:rotateY(180deg);
}

.board, #about {
    backface-visibility: hidden;
    transition:transform 1s;
}

.panel {
    position:relative;
    width:100%;
}

.panel ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
    display:flex;
    
    width:100%;
}

.panel ul li {
    list-style-type:inherit;
    display:block;
    width:100px;
    height:25px;
    margin:0px 5px;
    background-image:radial-gradient(circle at 50% 0%,#505050,#303030);
    text-align:center;
    border-radius:5px;
    line-height:25px;
    
}
.button{width:30px;height:30px;margin:2px;border-radius:2px;background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 100%);transition:background-color 100ms}.button[data-value=off]{background-color:#666}.button[data-value=on]{background-color:#ccc;box-shadow:inset 0px 0px 5px #fff,0px 0px 5px #fff}.button.playing{box-shadow:inset 0px 0px 5px #000,0px 0px 15px #fff;background-color:#fff}
.overlay{position:absolute;top:0px;left:-25%;width:75%;opacity:0;user-select:none;pointer-events:none;transition:left 400ms ease-in-out,opacity 400ms ease-in-out,filter 400ms ease-in-out;z-index:1;background-color:#373737de;backdrop-filter:blur(6px);box-sizing:border-box;padding:25px;box-shadow:#373737 0px 0px 20px;height:100%}.overlay.visible{opacity:1;user-select:initial;pointer-events:initial;left:0px;filter:none}.overlay .close-button{border:none;position:absolute;right:0px;top:0px;padding:15px;color:#fff;background:#000;border-radius:100%;width:40px;height:40px;line-height:0;vertical-align:middle;cursor:pointer}
.container .content{position:relative}.container .content .overlays{pointer-events:none;overflow:hidden;position:absolute;top:0px;left:0px;width:100%;height:100%}
