body {
    background-image: radial-gradient(ellipse at 50% 20%, #DDDDDD 0%,#777777 100%);
    color:white;
    font-family:Verdana;
    user-select: none;
    
}
a, a:hover, a:active, a:visited {
    color:white;
    text-decoration:none;
}
html {
    height:100%;
}